body{
	color: #585858;
}

/*iconos*/
.icon-edit{

}

.header-content-title{
  border-bottom: 1px solid #E5E5E5;
  margin-bottom: 20px;
}

.header-content-title h1{
  font-size: 20px;
  margin-top: 0px;
  margin-bottom: 3px;
  font-weight: 570;
  color: #191919;
}

.content .content-page{
 padding-left: 15px;
 padding-right: 15px;
}

label{
 font-weight: 500;
 margin-bottom: 0px;
}

.row{
 padding-bottom: 5px;
 padding-right: 0px;
 padding-left: 0px;
}

.table>caption+thead>tr:first-child>td, .table>caption+thead>tr:first-child>th, .table>colgroup+thead>tr:first-child>td, .table>colgroup+thead>tr:first-child>th, .table>thead:first-child>tr:first-child>td, .table>thead:first-child>tr:first-child>th {
  border: 1px solid rgb(204,204,204);
}

.table-bordered > thead > tr > th, .table-bordered > tbody > tr > th, .table-bordered > tfoot > tr > th, .table-bordered > thead > tr > td, .table-bordered > tbody > tr > td, .table-bordered > tfoot > tr > td {

  border: 1px solid rgb(204,204,204);
}

.table-bordered > thead > tr > th, .table-bordered > thead > tr > td {

  border: 1px solid rgb(204,204,204);
}

.table thead tr {
  color: #707070;
  font-weight: normal;
  background: #f2f2f2;
  background-color: #f3f3f3;
  background-image: linear-gradient(to bottom,#f8f8f8,#ececec););
  background-repeat: repeat-x;
}