body{
	color: #4D4D4D;
}

/*iconos*/
.icon-edit{

}

.header-content-title{
  border-bottom: 1px solid #E5E5E5;
  margin-bottom: 20px;
}

.header-content-title h1{
  font-size: 20px;
  margin-top: 0px;
  margin-bottom: 3px;
}